.ticketNum{
    border: 2px solid yellow;
    background: linear-gradient(to left bottom, red, blue);
    padding: 1.5rem;
    color: #fff;
    /* margin-left: 1.1rem; */
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
}